@import "mocha.css";

* {
	font-size: 18px;
	font-family: Iosevka;
    border-radius: 0;
}

window#waybar {
    background: rgba(30, 30, 40, 1);
	color: @text;
}

#workspaces,
#clock,
#pulseaudio,
#battery,
#tray {
    background: transparent;
}

#workspaces button {
	padding: 0 2px;
	color: @text;
}
#workspaces button.focused {
	color: @base;
    background: @pink;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button:hover {
	background: @yellow;
    color: @base;
	border: @base;
	padding: 0 3px;
}

#pulseaudio {
	color: @red;
}

#network {
    color: @green;
}

#battery {
	color: @blue;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
